// COLOURS
$primary-color: rgb(138, 255, 210);
$second-color: rgb(255, 141, 227);

// FONTS
$font-primary: 'Arvo', serif;
$font-second: 'Amatic SC', cursive;

body {
  text-align: center;
  
  .navbar {
    width: 100%;
  }
  .title {
    font-family: $font-primary;
    color: $second-color;
    font-size: 2.5em;
  }
}